.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(213, 164, 42, 0.937);
    color: rgb(255, 255, 255);
    padding: .1rem 1rem;
    font-size: 30px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .Nav div {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .Nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .Nav a {
    display: block;
    padding:  1rem;
    height: auto;
    color: white;
    font-size: .8rem;
    text-decoration: none;
    font-size: 20px;  

  }
  .Nav a:hover {
    background-color: rgba(255, 255, 255, .1);
  }